# Logs
log
logs
*.log
npm-debug.log*
*.rdb
keysinfo

# Dependency directory
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Editor
.idea
.vscode

# Build
dist/

# env
.env
.env.example
.env.local
.env.staging

.DS_Store
/log
